/* cases.css */

.homeimagebox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.common {
  display: grid;
  grid-template-columns: 600px 600px 600px;
}

.himg1 {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: calc(33.33% - 20px);
  position: relative; /* Added to enable absolute positioning */
}

.himg1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.himg1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.himg1 h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
  opacity: 0; /* Initially hidden */
  position: absolute; /* Positioned relative to .himg1 */
  bottom: 10px; /* Adjust the positioning as needed */
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show text when .himg1 is hovered */
.himg1:hover h2 {
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out; /* Apply fadeIn animation */
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
